@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i");

/** font-family: 'Open Sans', sans-serif; **/

body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased !important;
}

a {
  text-decoration: none;
  -ms-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

a:hover,
a:focus,
a:active {
  outline: medium none;
  text-decoration: none;
}

*:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

strong,
b {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

.clear {
  border: 0;
  clear: both;
  height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 600;
  margin: 0;
}

header .navbar {
  padding: 0px 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

header .navbar-brand {
  font-family: "Fredoka One", cursive;
}

html,
body {
  height: 100%;
}

.banner {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #80d0c7 0%, #0093e9 100%);
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  padding-top: 25px;
}

.banner .container,
.banner .container .row {
  position: relative;
  height: 100%;
}

.banner .banner-text h1,
.banner .banner-text h6 {
  color: #fff;
}

.section-1 {
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #80d0c7 0%, #0093e9 100%);
    color: #fff;
}

.section-2 h3 {
  font-size: 38px;
  color: #046ded;
}

.section-4 h3 {
  font-weight: 700;
  font-size: 38px;
  color: #046ded;
}

.section-1 p,
.section-2 p,
.section-3 p,
.section-4 .media-body {
  font-size: 15px;
  line-height: 1.7;
}

.section-2,
.section-4 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}



.section-3 p {
  font-size: 15px;
}

.section-3 p ~ p {
  font-size: 15px;
}

.section-4 {
  height: 450px;
}

.section-4 .container,
.section-4 .container .row {
  height: 100%;
  position: relative;
}

.smart-assistant {
    -webkit-box-shadow: -2px 2px 40px -12px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -2px 2px 40px -12px rgba(0, 0, 0, 0.35);
    box-shadow: -2px 2px 40px -12px rgba(0, 0, 0, 0.35);
}

@media (max-width: 767px) {
    .hidden-xs {
      display: none !important;
    }
  }
  

#backshape .wrapper {
    display:block;
    float:left;
    margin:10px auto 130px;
    width:100%;
    padding:0 5%;
    transform:skew(0deg,-2deg);
    -ms-transform:skew(0deg,-7deg);
    -webkit-transform:skew(0deg,-2deg); 
  }
  #backshape {
    z-index:1;
    display:block;
    float:left;
    margin-top:-120px;
    width:100%;
    background:white;
    transform:skew(0deg,15deg);
    -ms-transform:skew(0deg,10deg); /* IE 9 */
    -webkit-transform:skew(0deg,4deg); /* Safari and Chrome */
  }

  #backshape2 .wrapper2 {
    display:block;
    float:left;
    margin:10px auto 150px;
    width:100%;
    padding:0 5%;
    transform:skew(0deg,-2deg);
    -ms-transform:skew(0deg,-7deg);
    -webkit-transform:skew(0deg,-2deg); 
  }
  #backshape2 {
    z-index:1;
    display:block;
    float:left;
    margin-top:-120px;
    width:100%;
    background:white;
    transform:skew(0deg,15deg);
    -ms-transform:skew(0deg,10deg); /* IE 9 */
    -webkit-transform:skew(0deg,-2deg); /* Safari and Chrome */
  }

footer {
  background-color: #fff;
  color: #213a58;
  font-size: 14px;
  text-align: center;
}


